#wrap-wrap {

  position: relative;

  &.landing {
    background-image: 
      url(../media/img/bg-main-2.png),
      url(../media/img/bg-main.png);
    background-position: 
      left bottom,
      center;
    background-size: 
      100% 100%,
      100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include mq(phone-xxl, max) {
      background-size: 
        85% 75%,
        100% 100%;
    }
    @include mq(phone-xl, max) {
      background-size: 
        150% 50%,
        cover;
      background-position: 
        left bottom,
        40% center;
    }
  }

  main.landing-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .main {

    &-content {
      width: 70%;
      height: auto;
      display: block;
      padding: 1rem;

      * {
        text-align: right;
      }

      .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        max-width: 100%;
        text-align: left;
        img {
          @include mq(phone-xxl, max) {
            max-width: 75%;
          }
        }
      }

      &_upper--title {
        transform: $rotate;
        h3 {
          @extend %rotate;
          color: $primary;
          line-height: 2;
          font: {
            size: 2vw;
            weight: bold;
            family: "Helvetica Bold";
            style: italic;
          }
          @include mq(phone-xxl, max) {
            font-size: 2.2vw;
            letter-spacing: 0px;
          }
          @include mq(phone-xl, max) {
            font-size: 2.5vw;            
            letter-spacing: 0px;
            transform: scale(1, 2.5);
            margin-bottom: 10px;
            text-shadow: 1px 1px 1px rgba($black, .5);
          }
        }
      }

      &_normal--title {
        transform: $rotate;
        h1 {
          @extend %rotate;
          color: $white;
          line-height: 1;
          letter-spacing: 2px;
          font: {
            size: 4.2vw;
            weight: bold;
            family: "Helvetica Bold";
            style: italic;
          }
          @include mq(phone-xxl, max) {
            font-size: 5vw;
            letter-spacing: 0px;
          }
          @include mq(phone-xl, max) {
            text-shadow: 1px 1px 1px rgba($black, .5);
          }
        }
      }

      &_sub--title {
        transform: $rotate;
        margin-bottom: 1rem;
        @include mq(phone-xl, max) {
          margin-bottom: 5rem;            
        }
        h2 {
          @extend %rotate;
          color: $white;
          letter-spacing: 2px;
          text-transform: capitalize;
          transform: scale(1, 1);
          line-height: 1;
          span {
            color: $danger;
            font: {
              size: 3.2vw;
              weight: bold;
              family: "Helvetica";
              style: italic;
            }
            &:nth-child(1) {
              line-height: 1.2;
              color: $white;
            }
            @include mq(phone-xxl, max) {
              font-size: 4vw;
            }
            @include mq(phone-xl, max) {
              font-size: 5.5vw;
            }
          }
        }
      }


    }

    &-disclaimer {
      @include mq(phone-xxl, max) {
        width: 100%;
        margin-left: auto;
      }
      @include mq(phone-xl, max) {
        width: 70%;
      }
      p {
        text-align: justify;
        width: 100%;
        font-size: .75vw;
        line-height: .75vw;
        letter-spacing: 1px;
        @include mq(phone-xxl, max) {
          line-height: 1;
          font-size: 1.5vw;
        }
        @include mq(phone-xl, max) {
          font-size: 2.5vw;
        }
      }
    }

  }

}